<launch>
    <!-- set your data config -->
    <param name="/use_sim_time" value="false"/>
    <!--all folder must be end with '/'-->
    <param name="config_directory" type="string" value="$(find paloc)/config/"/>
    <param name="save_directory" type="string" value="/home/xchu/data/paloc_result/"/>
    <param name="prior_map_directory" type="string" value="/home/xchu/data/prior_map/paloc_map_file/"/>

    <!--The name of your prior map file must be the same with sequence name, e.g. stairs_bob.pcd -->
    <arg name="sequence" default="stairs_bob"/>

    <!-- set your mapping params-->
    <rosparam file="$(find paloc)/config/yaml/geode_alpha_vlp16.yaml" command="load"/>
    <rosparam param="common/sequence" subst_value="true">$(arg sequence)</rosparam>

    <!--LIO-->
    <node pkg="paloc" type="fastlio" name="fastlio" output="log" required="true"/>

    <!--PGO-->
    <node pkg="paloc" type="pgo_localization" name="pgo_localization" output="screen" required="true"/>

    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_pgo"
          args="-d $(find paloc)/config/rviz/ouster_indoors.rviz"/>

    <!--set your data bag path-->
    <arg name="bag_path"   default="/media/xchu/新加卷/GEODE/Stairs/stairs_bob.bag"/>

</launch>
